* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f6f9;
}

a {
    color: #f3f6f9;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}




/*Inicio do Menu*/


header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 5px 100px #00000000;
    background-color: #33333300;
    /* border-bottom: 1px solid rgb(25, 25, 25); */
    transition: all 0.5s;
}

/*Mudando de cor*/
header.rolagem {
    background: #111827;
    border-bottom:1px solid #111827;
}

#chk1 {
    display: none;

}

header .logo {
    flex: 1;
    color: #f3f6f9;
    margin-left: 50px;
    text-transform: none;
    font-size: 15px;
}

header .gradient {
    font-size: 25px;
    color: #206ab8;
}

header .teste {
    color: #206ab8;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #f3f6f9;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 7px;
    position: relative;
}

header ul li a::after {
    content: " ";
    width: 15%;
    height: 2px;
    background: #206ab8;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

header .cadastro {
    background: #206ab8;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 7px 10px;
    text-transform:uppercase;
}

header .cadastro img {
    width: 12px;
    margin-right: 5px;
}

header .cadastro:hover {
    background: #174a81;
    box-shadow: #111827 0px 0px 15px ;
    transform:scale(1.1);
}

header .menu-mobile {
    font-size: 2em;
    display: none;
}



@media(max-width:800px) {


    header {
        background: rgb(25, 25, 25);
        position: fixed;
        width: 100%;
    }

    header ul {
        position: absolute;
        /*Mudar a barra*/
        top: 100px;
        right: 100%;
        background: rgba(25, 25, 25);
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        display: flex;
    }

    header .menu-mobile {
        display: block;
        width: 25%;
        text-align: center;

    }

    header .menu-mobile img {
        margin-top: 12px;
        width: 35px;
        height: 35px;
    }


    #chk1:checked~ul {
        right: 0;
    }
}

@media(max-width:600px) {
    header .logo {
        font-size: 12px;
        margin-left: 4px;
    }

    header span {
        font-size: 24px;
    }

    header ul {
        width: 100%;
    }
}

/*Fim do menu  */

.main .inicio {
    background-image: url(Src/assets/Imagens/estudante.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.inicio .inicio-content {
    padding: 0px 50% 0px 5%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.inicio h2 {
    margin-top: 20px;
    color: #f3f6f9;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.inicio .description {

    height: 50vh;
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px #252525; */
}

.inicio .texto {
    color: #206ab8;
}

.inicio span {
    color: #f3f6f9;
}

.inicio .texto,
span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.inicio .button {
    background: #206ab8;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px #252525;


}

.inicio .button:hover {
    background: #174a81;
    box-shadow: 0px 0px 10px #252525;
    transform: scale(1.05);
}

.inicio .button a {
    text-decoration: none;

    color: #f3f6f9;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media(max-width:800px) {
    .main .inicio {
        height: 90vh;
        width:100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(Src/assets/Imagens/estudante.jpeg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .inicio .inicio-content {
        padding:20px 0px 40px 0px;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: auto;
    }

    .inicio .description {
        padding: 0px 15px;
        height: auto;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inicio h2 {
        font-size: 30px;
        text-align: justify;
        margin-bottom: 10px;
    }

    .inicio span {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }
    
}


.sobre {
    height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 40px;
}


.sobre .sobre-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;

    animation: deslizar 2s ease-in-out infinite alternate;
    position: relative;
}

@keyframes deslizar {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}


.sobre h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #252525;
    font-style: italic;
}

.sobre .paragrafo {
    width: 700px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0px 40px 40px;
    padding: 20px 40px;

    border: 1px solid #206ab8;
    border-radius: 25px;
}

.sobre h3 {
    color: #252525;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;

    margin-bottom: 30px;
    text-shadow: 0px 0px 1px #252525;
}

.sobre p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300;
    color: #252525;
    text-align: justify;
}

.sobre .image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin-bottom: 40px;
}

.sobre .image-content img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 5px;

}


@media (max-width:800px) {
    .main .sobre {
        height: 100vh;
        width: 100%;

    }

    .sobre .sobre-content {
        display: flex;
        flex-direction: column;
        animation: none;
    }

    .sobre .paragrafo {
        height: auto;
        width: 350px;
        padding: 15px 30px;

        border-radius: 25px;
    }

    .sobre h3 {
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }

    .sobre p {
        font-size: 18px;
        text-align: justify;
        margin-bottom: 20px;
    }

    .sobre .image-content {
        margin-bottom: 60px;
    }

}

/*Cards*/

.main .cards {
    height: auto;
    width: 100%;
}


section.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    padding: 40px;
    background: #111827;

}

.cards .card-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.cards h1 {
    font-size: 50px;
    font-weight: 600;
    text-shadow:0px 0px 20px #206ab8;
    color: #f3f6f9;
    text-align: center;
    margin-bottom: 5%;
}

.cards aside.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: white;
    border-radius: 8px;
    max-width: 350px;
    height: 200px;

    padding: 20px;
    margin: 10px 1px 20px 10px;
    transition: all 0.5s;
}


.cards aside.card h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #111827;
    
}

.cards aside.card span {
    font-weight: 300;
    max-width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
}

.cards aside:hover {
    box-shadow: 20px 20px 50px -30px #3e8de2;
}


@media screen and (max-width: 660px) {
    section.cards {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 40px 0px;
    }

    .cards .card-titulo {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .cards h1 {
        font-size: 35px;
    }

    .cards aside.card span {
        font-weight: 300;
        font-size: 20px;
    }

    .cards aside.card {
    
        max-width: auto;
        height: 180px;
    
        padding:10px;
        margin: 10px;
        border-radius: 10px;
        
    }


    section.cards aside.card button {
        font-size: 70%;
    }
}








footer {
    width: 100%;
    min-height: 250px;
    background: rgb(27, 27, 27);
    display: flex;
    position: relative;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px 40px;
}

footer .boxs .logo {
    font-size: 25px;
    font-weight: bold;
}

footer .boxs .logo span {
    font-size: 40px;
    font-weight: bold;
    color: #206ab8;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #f3f6f9;
    margin-bottom: 25px;
    width: 150px;
    border-bottom: 1px solid #686868be;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #f3f6f9;
    text-decoration: none;
    transition-duration: 0.5s;
}

.boxs ul li a:hover {
    color: #f3f6f9b3;
}

.boxs p {
    color: #f3f6f9;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525;
    padding: 0px 40px;
}

.footer h2 {
    color: #f3f6f9;
    font-size: 20px;
}


.footer .sociais {
    display: flex;
}

.sociais .social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    text-align: center;

    background: transparent;
    color: #f3f6f9;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px #f3f6f979; */
    margin: 0 20px;
    cursor: pointer;
    transition: all .5s;

}

.sociais .social a {
    color: #f3f6f9;
    font-size: 15px;
    transition: 0.5s;
}

.sociais .social:hover {
    background: transparent;
    box-shadow: 0px 0px 15px #f3f6f956;
    transform: scale(1.1);
}

.sociais .social:hover a {
    color: #f3f6f9;
}


@media(max-width: 950px) {
    footer {
        flex-direction: column;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }

    .boxs h2 {
        width: auto;
        margin-top: 15px;
    }
}