


.main {
    height: 90vh;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40%;
    height: 45vh;
    display: flex;
    border-radius: 8px;
    transition: all 0.5s;
}

.main .container:hover {
    box-shadow:10px 0px 30px #00000044;
}

.main .form {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main .form-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.main .form-header h1 {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    color: var(--azulEscuro);
    margin-bottom: 20px;
}

.main .form-header h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: var(--azulHover);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.main .login-button {
    display: flex;
    align-items: center;
}

.main .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 ;
}

.main .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.main .input-box input {
    margin: 10px 0;
    width: 350px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-bottom:1px solid var(--azulHover) ;
    outline: none;
}

.main .input-box input:hover {
    transition: all .5s;
    background: var(--white);
    outline: none;
}

.main .input-box input:focus-visible {
    outline: 1px solid var(azul);
}


.main .input-box label,
.main .gender-title h6 {
    font-size: 18px;
    font-weight: 600;
    color: #000000c0;
}

.main .input-box::placeholder {
    color: var(--preto);
}

.main .continue-button button {
    width: 100%;
    margin-top: 10px;
    background: var(--azul);

    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.main .continue-button button:hover {
    background: var(--azulHover);
    color: var(--white);
    transform: scale(0.98);
}

.main .continue-button button a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.voltar {
    margin-top: 10px;
    display: none;
}

.voltar button {
    width: 100%;
    background: var(--azulHover);
    padding: 10px;
    border-radius: 50%;
}
