/*Global*/
@import '/Src/assets/global/style/header/header-2.css';
@import '/Src/assets/global/style/footer/footer.css';
@import '/Src/assets/global/style/index.css';
/*Global*/

/*Imports*/
@import '/Src/assets/styles/vocacional/cards.css';
@import '/Src/assets/styles/vocacional/mobile.css';

/*Imports*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--font);
    background: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

@media (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}
