#caixa{
    justify-content: center;
    display: flex;
    flex-direction: column;
   
    gap: 6px;
    align-items: center;
}
.foto{
    height: 10px;
    width: 10px;
}
body{
    background-color: black;
}