@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;

}

a {
    color: #f3f6f9;
    text-decoration: none;
}


/*Inicio do Menu*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgb(25, 25, 25);
    z-index: 99;
    box-shadow: 0 5px 100px #000000c2;
    transition: all 0.5s;
}

header.rolagem {
    background: rgb(27, 27, 27);
    border-bottom: 1px solid rgb(27, 27, 27);
}

#chk1 {
    display: none;

}

header .logo {
    flex: 1;
    margin-left: 50px;
}

header .logo a {
    color: #f3f6f9;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

header .gradient {
    font-size: 40px;
    color: #206ab8;
}

header .teste {
    color: #206ab8;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
    padding: 7px 0px;
}

header ul li a {
    text-decoration: none;
    color: #f3f6f9;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 7px;
    position: relative;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li a span {
    text-decoration: none;
    color: #f3f6f9;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 7px;
    position: relative;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li a::after {
    content: " ";
    width: 15%;
    height: 2px;
    background: #206ab8;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

header .menu-mobile {
    font-size: 2em;
    display: none;
}

header .login {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #f5f5f5;
}

header .criar {
    background: #206ab8;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    color: #f3f6f9;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 7px 10px;
    text-transform: uppercase;
}

header .criar:hover {
    box-shadow: rgba(255, 187, 109, 0.498) 0px 0px 15px;
    transform: scale(1.1);
}


header .cadastro {
    background: #206ab8;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 7px 10px;
    text-transform: uppercase;
}

header .cadastro img {
    width: 12px;
    margin-right: 5px;
}

header .cadastro:hover {
    background: #174a81;
    box-shadow: #111827 0px 0px 15px;
    transform: scale(1.1);
}

@media(max-width:800px) {


    header {
        background: rgb(25, 25, 25);
        position: fixed;
    }

    header ul {
        position: absolute;
        /*Mudar a barra*/
        top: 100px;
        right: 100%;
        background: rgba(25, 25, 25);
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        display: flex;
    }

    header .menu-mobile {
        display: block;
        width: 25%;
        text-align: center;

    }

    header .menu-mobile img {
        margin-top: 12px;
        width: 35px;
        height: 35px;
    }


    #chk1:checked~ul {
        right: 0;
    }
}

@media(max-width:600px) {
    header .logo {
        font-size: 12px;
        margin-left: 4px;
    }

    header span {
        font-size: 24px;
    }

    header ul {
        width: 100%;
    }
}

/*Fim do menu  */


.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.main .container {
    width: 95%;
    height: 90vh;
    display: flex;
    /* box-shadow: 10px 30px 30px #0000001c; */
    border-radius: 8px;

}

/*Checklist de Profissão*/
.main .form-prof {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #174a81;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.main .form-prof .lista {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    color: #f3f6f9;
    margin: 20px 0;

}

.main .form-prof .lista::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #111827;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.main .form-prof .area {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main .form-prof .checklist {
    padding: 10px;
}

.main .form-prof .checklist-input {
    padding: 15px;
}

.main .form-prof .checklist-input label {
    font-size: 16px;
    color: #f3f6f9;
    border: none;
    padding: 5px;
}



/*Cadastro de Questão*/
.main .form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    /* background: #f3f6f9; */
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main .form-header {
    display: flex;
    justify-content: space-between;

}

.main .form-header h1 {
    font-size: 25px;
    font-weight: 600;
    position: relative;
    color: #111827;
    margin-bottom: 50px;
}

.main .form-header h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #206ab8;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


/* .main .title {
    font-size: 17px;
    font-weight: 600;
    margin: 40px 0;
} */

.main .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: auto 0 ;
}

.main .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.main .input-box input {
    margin: 10px 0;
    width: 350px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-bottom:1px solid #174a81 ;
    outline: none;
}

.main .input-box input:hover {
    transition: all .5s;
    background: #f5f5f5;
    outline: none;
}

.main .input-box input:focus-visible {
    outline: 1px solid #206ab8;
}

.main .input-box label,
.main .gender-title h6 {
    font-size: 18px;
    font-weight: 600;
    color: #000000a5;
}

.main .input-box::placeholder {
    color: #000000be;
}

/*Botão*/
.main .continue-button button {
    width: 25%;
    margin-top: 10px;
    background: #206ab8;

    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.main .continue-button button:hover {
    background: #174a81;
    color: #f3f6f9;
    transform: scale(0.95);
}

.main .continue-button button a {
    text-decoration: none;
    color: #f3f6f9;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 1300px) {

    /*Checklist Profissional*/
    .main .container {
        width: 100%;
        height: 100vh;
    }

    .main .form-prof {
        width: 35%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    /*Criar Questões*/
    .main .form {
        width: 75%;
    }

    .main .form-header {
        margin-bottom: 10px;
    }

    .main .form-header h1 {
        margin-bottom: 10px;
    }

    .main .input-group {
        padding: 10px;
    }

    .main .input-box {
        margin-bottom: 15px;
    }

    /*Botão*/
    .main .continue-button button {
        width: 40%;
    }

}

@media screen and (max-width: 1064px) {

    .main .container {
        width: 100%;
        height: 100vh;
        padding: 0px 0px;

    }

    /*Checklist Profissional*/
    .main .form-prof {
        width: 40%;
        
    }

    .main .form-prof .lista {
        font-size: 20px;
        font-weight: 600;
        position: relative;
        color: #f3f6f9;
        margin-top: -70px;/*Teste*/
    
    }

    .main .form {
        width: 60%;
        padding: 0px 50px;
    }

    .main .form-header {
        margin-bottom: 0px;
    }

    .main .form-header h1 {
        font-size: 28px;
        font-weight: 600;
        position: relative;
        color: #111827;
        margin-bottom: 10px;
    }

    .main .input-group {
        padding: 10px 0;
    }

    .main .input-box {
        margin-bottom: 0px;
    }

    .main .input-box input {
        margin: 10px 0;
    }

    /*Botão*/
    .main .continue-button button {
        width: 45%;
        margin-top: 30px;
    }

}

@media screen and (max-width: 860px) {

    .main .container {
        width: 100%;
        height: 100vh;
        padding: 0px ;
        flex-direction: column;

    }

    .main .form-prof .area {
        width: 100%;
        flex-direction: column;
    }

    .main .form-prof .lista {
        font-size: 20px;
        margin: 10px;
    }

    .main .form-prof .checklist {
        padding: 10px ;
    }

    .main .form-prof .area {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }

    .main .form-prof .checklist-input {
        padding: 15px;
    }

    .main .form-prof .checklist-input label {
        font-size: 20px;
        color: #f3f6f9;
        border: none;
        padding: 10px;
    }

    .main .form-prof {
        width: 100%;
        height: 100vh;
        padding: 20px;
        flex-direction: row;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    /*Criar Questões*/
    .main .form {
        width: 100%;
        height: auto;
        flex-direction: row;
        padding: 20px 40px;
    }

    .main .form-header {
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;

    }

    .main .form-header h1 {
        font-size: 30px;
    }

    .main .input-box {
        margin: 15px 0px;
    }

    .main .input-box input {
        margin: 20px 0;
        width: 300px;/*Teste*/
    }

    .main .input-box input:hover {
        transition: all .5s;
        background: #f5f5f5;
    }



}

@media screen and (max-width: 510px) {

    .main .container {
        width: 100%;
        height: 100%;
        padding: 0px;
        flex-direction: column;

    }

    .main .input-box {
        margin: 25px 0px;
    }

    .main .input-box input {
        margin: 15px 0;
    }

    .main .form-header h1 {
        font-size: 30px;
    }

    /*Botão*/
    .main .continue-button button {
        width: 100%;
        height: 40px;
        margin: 20px 0;
    }

}

