/* 

.main .gerenciar {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;

     padding: 40px 20px;
    width: 100%;
    height: 80vh; 
}


.gerenciar .gerenciar-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
width: 100%;
padding: 8% 28px;
border: 1px solid var(--preto);
}
.gerenciar-content .gerenciar-title h1{
    font-size: 35px;
    font-family: var(--font);
    font-weight: 500;
    padding: 20px 0;
}

.gerenciar-content table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.gerenciar-content table td.exec-question {
    height: 350px;
    width: 400px;
}
.gerenciar-content table td.d-question {
width: 200px;
}

.gerenciar-content table tr {
    border-bottom: 1px solid #ddd;
    padding: 40px;
}

.gerenciar-content table tr th {
    background-color: #f0f0f0;
    font-size: 24px;
}

.gerenciar-content button {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul);
    border: none;
    color: var(--white);
    border-radius: 8px;
     margin-left: 30%;
} */

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 8% 28px;
    width: 100%;
    align-items: center;
    margin-bottom: 19px;
    border-radius: 7px;
    box-shadow: 5px 5px 15px var(--verdeAgua);
}

.gerenciar-content {
    display: flex;
    justify-content: center;
}

#btn-default {
    background-color:var(--azulClaro);
    padding: 8% 28px;
    border-radius: 7px;
    font-family: var(--font);
    color: var(--white);
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: 0.5s;
}

#btn-default:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: var(--vermelho);

}


#title {
    display: flex;
    flex-direction: row;
    margin: 5% 20px 40px ;
    gap: 385px;
    justify-content: center;

}

#title h1 {
    font-weight: 600;
    border-bottom: 3px solid var(--azul);
}

.link {
    justify-content: right;
    display: flex;
    padding: 26px 22px;
}

.link a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background: var(--azul);
    color: var(--white);
    border-radius: 8px;
    padding: 12px 20px ;
    
    font-size: 15px;
    transition: 0.5s;
}

.link a:hover {
    background: var(--azulHover);
    transform: scale(0.98);
}