


/*Cards*/

.main .cards {
    height: auto;
    width: 100%;
}


section.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    padding: 40px;
    background: rgb(27, 27, 27);

}

.cards .card-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.cards h1 {
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #206ab8;
    color: #f3f6f9;
    text-align: center;
    margin-bottom: 5%;
}

.cards aside.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: white;
    border-radius: 8px;
    max-width: 350px;
    height: 200px;

    padding: 20px;
    margin: 10px 1px 20px 10px;
    transition: all 0.5s;
}


.cards aside.card h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #111827;

}

.cards aside.card span {
    font-weight: 300;
    max-width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
}

.cards aside:hover {
    box-shadow: 20px 20px 60px -15px #3e8de2;
}


@media screen and (max-width: 660px) {
    section.cards {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 40px 0px;
    }

    .cards .card-titulo {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .cards h1 {
        font-size: 35px;
    }

    .cards aside.card span {
        font-weight: 300;
        font-size: 20px;
    }

    .cards aside.card {

        max-width: auto;
        height: 180px;

        padding: 10px;
        margin: 10px;
        border-radius: 10px;

    }


    section.cards aside.card button {
        font-size: 70%;
    }
}